name: build

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the code
        uses: actions/checkout@v2
        
      - name: Install Java
        uses: actions/setup-java@v1
        with:
          java-version: '12.x'
        
      - name: Install and set Flutter version
        uses: subosito/flutter-action@v1
        with:
          flutter-version: '2.5.0'
          
      - name: Install Dependencies
        run: flutter pub get

      - name: Run tests
        run: flutter test --coverage
        
      - name: Upload coverage to codecov
        uses: codecov/codecov-action@v1
        with: 
         token: ${{ secrets.CODECOV_TOKEN }} 
         file: coverage/lcov.info
